
#cases-table td {
    text-align: center;
}

#cases-table th {
    background-color: black;
    color: white;
}

#navbar img{
    width: 50px;
}


body{
    background-color: rgb(59, 95, 0);
}

td{
    background-color: brown;
}