{% extends 'base.html' %}

{% block content %}

<div class="hero is-fullheight-with-navbar is-info">
    <div class="hero-body">
        <div class="container mb-6">
            <div class="columns is-centered">
                <div class="column">
                    <h1 class="is-size-1 has-text-centered">登入</h1>
                </div>
            </div>

            <div class="columns  is-centered">
                <div class="column is-4">
                    <form action="" method="POST" class="box">
                        {% csrf_token %}
                        <div class="field">
                            <label for="username" class="label">帳號</label>
                            <input type="text" class="input has-text-centered" name="username" id="username" value="{{username}}" placeholder=" 請輸入帳號" required>
                        </div>
                        <div class="field">
                            <label for="username"  class="label">密碼</label>
                            <input type="password" class="input  has-text-centered" name="password" id="password" value="{{password}}" placeholder="請輸入密碼" required>                          
                        </div>
                        <a href="{% url 'reset_password' %}" class="has-text-danger"><small><u>忘記密碼</u></small></a>
                        <div class="field has-text-centered">                         
                            <button type="submit" class="button is-warning">登入</button>                          
                        </div>                        
                    </form>
                </div>
            </div>
            <div class="columns is-centered">
                <div class="column">
                    <div id="message" class="has-text-centered has-text-warning">
                        {% if message %}
                        <p class="has-text-danger">{{message}}</p>
                        {% endif %}
                    </div>                   
                </div>
            </div>        
       </div>       
    </div>
</div>
{% endblock %}