{% extends 'base.html' %}

{% block content %}
<h1>Profile</h1>

<ul>
    <li>{{user.username}}</li>
    <li>點數:{{user.point}}</li>
    <li>Email:{{user.email}}
        {% if not user.certification %}
        {% if not message %}
        <a href="{% url 'activate-email' %}">認證</a>(送100點)
        {% endif %}
        {% else %}
        (已認證)
        {% endif %}
    </li>
    <li>居住地:{{user.city}}</li>
    <li>身分:{{user.respondent}}</li>
</ul>
<div id="message">
    {% if message %}
    <p style="color: red;">{{message}}</p>
    {% endif %}
</div>
<p>
    <a href="{% url 'update' user.id %}">資訊修改</a>
    <a href="{% url 'purchase' %}">點數儲值</a>
</p>
{% if user.case_set.all|length == 0 %}
<h2>目前無發布Case</h2>
{% else %}
{% include 'pagination.html' %}
<div id="cases-table">
    <table border="1">
        <thead>
            <tr>
                <th>日期</th>
                <th>標題</th>
                <th>金額</th>
                <th>分類</th>
                <th>檢視次數</th>
                <th>更新日期</th>
                <th>功能</th>
            </tr>
        </thead>
        <tbody>
            {% for case in page_obj %}
            <tr>
                <td>{{case.createdon|date:"Y/m/d"}}</td>
                <td><a href="{% url 'case' case.id %}">{{case.title}}</a></td>
                <td>{{case.amount}}</td>
                <td>{{case.category}}</td>
                <td>{{case.view}}</td>
                <td>{{case.updatedon}}</td>
                <td><a href="{% url 'delete-case' case.id %}">刪除</a>
                    <br><a href="{% url 'update-case' case.id %}">修改</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
{% endblock %}