{% extends 'base.html' %}
{% block content %}

<div class="hero is-medium is-info">
    <div class="hero-body">
        <p class="title">儲值點數:</p>
        <p class="subtitle has-text-white">
            目前點數:{{user.point}}
        </p>
        <div class="columns">
            <div class="column is-4">
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="select">
                        <select name="purchase-select" id="purchase-select">
                            <option value="100">100</option>
                            <option value="300">300</option>
                            <option value="500">500</option>
                            <option value="1000">1000</option>
                            <option value="3000">3000</option>
                            <option value="10000">10000</option>
                        </select>
                    </div>
                    <input class="button is-warning" type="submit" value="儲值">
                </form>
            </div>
        </div>       
    </div>   
</div>
{% endblock %}


