{% extends 'base.html' %}

{% block content %}

<div class="hero has-background-link is-fullheight">
    <div class="hero-body">
        <div class="container mb-6">
            <h1 class="is-size-1 has-text-centered has-text-warning-light">註冊</h1>
            <div class="columns is-centered">
                <div class="column is-5 has-text-centered">
                    <form action="" method="POST" class="is-size-5 box px-5">
                        {% csrf_token %}
                        {{form.as_p}}
                        <button class=" button is-warning is-size-5" type=" submit">註冊</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}