{% extends 'base.html' %}
{% block content %}

<div class="hero is-medium">
    <div class="hero-body">
        <p class="title">輸入Email</p>
        <div class="columns">
            <div class="column is-4">
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="field control">
                        {{form.as_p}}
                    </div>
                    <div class="field">
                        <button class="button is-info is-danger" type="submit">發送</button>
                        {% if message %}
                        <p style="color: red;">{{message}}</p>
                        {% endif %}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}