{% extends 'base.html' %}
{% block content %}

<div class="hero is-medium">
    <div class="hero-body">
        <p class="title has-text-danger">
            更新資訊
        </p>
        <div class="columns">
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}                             
                {{form.as_p}}
            <button class="button is-warning" type="submit">確定</button>
            </form>
        </div>
    </div>   

    <!-- <div class="columns is-centered">
        <div class="column">
            <div id="message" class="has-text-centered has-text-warning">
                {% if message %}
                <p class="has-text-danger">{{message}}</p>
                {% endif %}
            </div>                   
        </div>
    </div> -->
   
</div>
{% endblock %}