{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <div class="columns">
        <div class="column">
            <img src="{% static './images/banner.png' %}" class="image" alt="" style="width:  100%;">
            <form action="{% url 'cases' %}" method="POST" class="box">
                {% csrf_token %}
                <div class="field is-grouped">
                    <div class="select">
                        <select name="category" id="category">
                            <option value="">全部類別</option>
                            {% for category in categorys %}
                            <option value="{{category.id}}" {% if category.id == category_id %} selected="selected" {% endif %}>
                                {{category}}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="select ml-1">
                        <select name="county" id="county">
                            <option value="">全部縣市</option>
                            {% for county in countys %}
                            <option value="{{county.id}}" {% if county.id == county_id %} selected="selected" {% endif %}>
                                {{county}}
                            </option>
                            {% endfor %}
                        </select>
                    </div>

                    <input type="text" class="input ml-1" name="search" id="search" value="{{search}}">
                </div>
                <div class="field">

                </div>
                <div class="field has-text-left">
                    <button type="submit" class="button is-warning">搜尋</button>
                    <span class="is-size-4 ml-2 has-text-link">共{{cases_length}}筆資料</span>
                </div>
            </form>
        </div>
    </div>
    <div class="columns">
        <div class="column">
            <div id="cases-table">
                <table border="1" class="table is-size-6 is-bordered is-striped is-fullwidth">
                    <thead>
                        <tr class="th is-selected has-text-centered has-background-dark">
                            <th class="is-vcentered">日期</th>
                            <th class="is-vcentered">標題</th>
                            <th class="is-vcentered">金額</th>
                            <th class="is-vcentered">分類</th>
                            <th class="is-vcentered">縣市</th>
                            <th class="is-vcentered">檢視次數</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for case in page_obj %}
                        <tr class="has-text-vcentered">
                            <td class="is-vcentered">{{case.createdon|date:"Y/m/d"}}</td>
                            <td class="is-vcentered"><a href="{% url 'case' case.id %}">{{case.title}}</a></td>
                            <td class="is-vcentered has-text-danger">{{case.amount}}</td>
                            <td class="is-vcentered">{{case.category}}</td>
                            <td class="is-vcentered">{{case.owner.city}}</td>
                            <td class="is-vcentered">{{case.view}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="column is-3">
            <div class="content is-normal">
                <h3 class="is-size-5 has-text-centered box has-background-danger has-text-white">專案排行榜</h3>
                <ol>
                    {% for case in top5_cases %}
                    {% if forloop.counter0 == 0 %}
                    <li><a href="{% url 'case' case.id %}"> <b style="color:brown;"
                                class="is-size-5">{{case|truncatechars:20}}({{case.view}})</a></b></li>
                    {% else %}
                    <li><a href="{% url 'case' case.id %}">{{case|truncatechars:20}}</a></li>
                    {% endif %}
                    {% endfor %}
                    </ul>
            </div>
            <div class="content is-normal">
                <h3 class="is-size-5 has-text-centered box has-background-primary has-text-white">發布排行榜</h3>
                <ul style="list-style-type: none;" class="box ml-1">
                    {% for user in top5_users %}
                    <li class="has-text-centered">
                        {{user|upper}}
                        {% if forloop.counter0 == 0 %}
                        <b>({{user.case_set.all|length}})</b>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="column is-narrow has-text-centered">
                {% include 'pagination.html' %}
            </div>
        </div>
    </div>
    <footer class="footer has-background-grey-darker">
        <div class="content has-text-centered">
            <b>
                &copy; 2022 Jerry Chen ver 1.0
            </b>
        </div>
    </footer>
    {% endblock %}